{% extends "base.html" %} {% block title %}{{survey_type.capitalize()}} Survey - Question
{{num}}{% endblock %} {% block content %}
<form action=/{{survey_type}}/answer/{{num}} method="POST">
  <h1>{{question.question}}</h1>
  {% for choice in question.choices %}
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="choices"
      id="{{choice}}"
      value="{{choice}}"
      required
      {% if value==choice %}
      checked
      {% endif %}
    />
    <label class="form-check-label" for="{{choice}}">{{choice}}</label>
  </div>
  {% endfor %}
  {% if question.allow_text == True %}
  <textarea name="comment" placeholder="Please tell us why..." class="form-control" row="3"></textarea>
  {% endif %}
  <button class="btn btn-primary mt-3">
    {% if num == 4 %}
    Submit
    {% else %}
    Next Question
    {% endif %}
  </button>
</form>
{% if num!= 1 %}
<form action=/{{survey_type}}/questions/{{num-1}}>
  <button class="btn btn-primary mt-3">Last Question</button>
</form>
{% endif %}

<p class="mt-5">Your progress: {{num-1}}/4 Questions</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" style=width:{{(num-1)*25}}% aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{(num-1)*25}}%</div>
</div>

{% endblock %}
